@page "/QuickSolitaire"
@inherits QuickSolitaireBase
@using static MrCalico_s_Quick_Solitaire.Models.DeckOfCards

<h3>MrCalico's Quick Solitaire</h3>

<style>

    .my-container {
        border: 1px solid green;
    }

    .my-row {
        border: 3px solid red;
    }

    .my-col {
        border: 3px solid blue;
    }
</style>
<h3>QuickSolitaire</h3>

<div class="container">
    <div class="row my-row">
        <div class="col-1 my-col">ACES</div>
        @foreach (List<Card> stack in AceStack)
        {
            <div class="col my-col">
                @foreach (Card card in stack)
                {
                    @card.ToString()
                }
            </div>
        }
    </div>
    <div class="row my-row">
        <div class="col-1 my-col">KINGS</div>
        @foreach (List<Card> stack in KingStack)
        {
            <div class="col my-col">
                @foreach (Card card in stack)
                {
                    @card.ToString()
                }
            </div>
        }
    </div>
</div>

@if (DrewPile.Count > 0)
{
    <li draggable="true">
        @LastCard.ToString() : @DrewPile.Count
    </li>
}
else
{
    <span>@MainDeck.cards.Count Cards Ready!</span>
}

@if (CardFlag)
{
    <span>Playable card! - Auto Dragged Up.</span>
}
else
{
    <span>Not Playable.</span>
}
<br />
<button @onclick="DrawCards">Draw</button>



